<!-- views/contacts/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %> <!-- 1 -->
  </head>
  <body>
    <%- include('../partials/nav') %> <!-- 2 -->

    <div class="problem problem-index">
      <h2>Index</h2>
      <ul>
        <% problems.forEach(function(problem) { %> <!-- 3 -->
          <li>
            <%= problem.name %>
          </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>